<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Fecha y hora de la cita:</label>
    <div class="control">
      <%= form.datetime_field :start_time %>
    </div> 
  </div>

  <div class="field mt-5">
    <label class="label">Nombre:</label>
    <div class="control">
      <%= form.text_area :name, class:'textarea' %>
    </div>  
  </div>

  <div class="field">
    <label class="label">Descripción:</label>
    <div class="control">
      <%= form.text_area :description, class:'textarea' %>
    </div>  
  </div>


  <div class="has-text-centered mt-5">
    <%= form.submit "GUARDAR CITA", class:"button is-warning" %>
  </div>
<% end %>
